@font-face {
  font-family: mario;
  src: url(/files/fonts/mario.ttf);
}
@font-face {
  font-family: comfortaa;
  src: url(/files/fonts/comfortaa.ttf);
}
body{
	width: 100%;
	background-color: #3ca93c; 
	color:#fff;}

h1{
	padding-top: 30px;
	font-family:mario;
	}
	
li{
	font-family:comfortaa;
	line-height:1.5; 
	font-size: 120%; 
}

p#smile{
	font-size:400px; 
	transform: rotateZ(90deg);
	position:relative; 
	bottom: 300px;
	z-index: -1;
	color: #000; 
}
#logo_left, p#update, p#sitename, a#changelog{color: #205c20}