@font-face {
  font-family: mario;
  src: url(/files/fonts/mario.ttf);
}

body{
	width: 100%;
	background-color: #7cdced; 
	color:#000;}

a{text-decoration:none;}

#centered, iframe{width: 1000px; text-align: center; margin:auto}

iframe{height: 810px;border:none;}

/*
#logo_right p, #logo_left p{background-color: #5d94fb}
*/
  
#logo_right{width:20%;float: right}
#logo_left{width:20%;float: left}

h1{padding-top: 30px; font-family:mario}
p{text-align: center}
img{max-width:100%}
